@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

$header-font: "Overlock", cursive;
$font: "Nunito", sans-serif;
$heading_color: #2d3033;
$text_color: #9d9a99;
$bg_color: #f2f2f2;

.heading-font {
    font-family: $header-font;
    color: $heading_color;
}
.text-font {
    font-family: $font;
    color: $text-color;
    font-size: 16px;
    line-height: 26px;
}

@mixin flex-all($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: $font;
}
.top-bar {
    padding: 2px 0px;
    @include flex-all(space-between, center);
    .logo-img {
        max-width: 100%;
        max-height: 100px;
    }
    .top-search {
        @include flex-all(center, center);
        position: relative;
        input {
            font-size: 16px;
            font-family: $font;
            border: 1px solid #2a2a2a;
            border-radius: 5px;
            padding: 4px 7px;
            width: 80%;
        }
        i {
            position: absolute;
            right: 13%;
        }
    }
    .avatar-img {
        max-width: 100%;
        max-height: 25px;
    }
    .flag-img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}
.menu-bar {
    padding: 20px 0px 10px;
    .select-category {
        @include flex-all(center, center);
        i,
        span {
            margin-left: 10px;
            cursor: pointer;
        }
    }
    .nav {
        @include flex-all(center, center);
        li {
            list-style: none;
            margin: 0px 10px;
            a {
                text-decoration: none;
                @extend .heading-font;
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
            }
        }
    }
}
